ul.news-title li {
	cursor: pointer;
}

ul.news-title li a:hover {
	color: #fff;
}

section.news-content div.tile-header, section.news-content div.tile-widget
	{
	text-align: center;
}

section.news-content div.tile-widget span {
	margin: 0 20px 0 20px;
}

section.news-content div.tile-body p {
	margin: 0 150px 50px 150px;
}

.card-container {
	max-height: 123px;
}

.card-container .card .front {
	height: auto;
}

.stock-price .select {
	color: #000000;
}

#chart-container {
	background-color: #eee;
	height: 300px;
}

.orgchart {
	background: #fff;
}

.orgchart.view-state .edge {
	display: none;
}

.orgchart .node {
	width: 150px;
}

.orgchart .node .title .symbol {
	margin-top: 1px;
}

#edit-panel {
	position: relative;
	left: 10px;
	width: calc(100% - 40px);
	border-radius: 4px;
	margin-top: 10px;
	padding: 10px;
	color: #fff;
	background-color: #449d44;
}

#edit-panel .btn-inputs {
	font-size: 24px;
}

#edit-panel
.view-state
>
:not
 
(
#chart-state-panel
 
)
{
display
:
 
none
;


}
#edit-panel label {
	font-weight: bold;
}

#edit-panel.edit-parent-node .selected-node-group {
	display: none;
}

#chart-state-panel, #selected-node, #btn-remove-input {
	margin-right: 20px;
}

#edit-panel button {
	color: #333;
	background-color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#edit-panel
.edit-parent-node
 
button
:not
 
(
#btn-add-nodes
 
)
{
display
:
 
none
;


}
#edit-panel button:hover, .edit-panel button:focus, .edit-panel button:active
	{
	border-color: #eea236;
	box-shadow: 0 0 10px #eea236;
}

#new-nodelist {
	display: inline-block;
	list-style: none;
	margin-top: -2px;
	padding: 0;
	vertical-align: text-top;
}

#new-nodelist>* {
	padding-bottom: 4px;
}

.btn-inputs {
	vertical-align: sub;
}

#edit-panel.edit-parent-node .btn-inputs {
	display: none;
}

.btn-inputs:hover {
	text-shadow: 0 0 4px #fff;
}

.radio-panel input[type='radio'] {
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: top;
}

#edit-panel.view-state .radio-panel input[type='radio']+label {
	vertical-align: -webkit-baseline-middle;
}

#btn-add-nodes {
	margin-left: 20px;
}

#chart-container {
	height: 600px;
	border: 2px dashed #aaa;
	border-radius: 5px;
	overflow-x: auto;
	text-align: center;
}

#switcher {
	height: 54px;
	background: url(bg2.png) repeat-x;
	z-index: 99999;
	position: fixed;
	width: 100%;
	top: 0;
	background: #000;
}

.center {
	width: 100%;
	padding-top: 0
}

.center ul li {
	display: inline;
	float: left;
	position: relative
}

.logoTop, .top2 {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	font-family: "微软雅黑"
}

/* @media screen and (max-width:1082px) {
	#sj {
		display: none;
	}
	#sj2 {
		display: none;
	}
} */

.top2 {
	position: relative;
	margin-top: 0px;
	font-size: 12px;
	font-weight: normal;
	background-image: url(img/2vmd.png);
	background-repeat: no-repeat;
	background-position: 3px center;
	padding-top: 17px;
	padding-bottom: 16px;
	padding-left: 45px;
	line-height: 20px;
	padding-right: 15px;
	background-position: 15px;
	background-color: #2b2b2b;
}

.vm {
	position: absolute;
	top: 53px;
	left: 0px;
	background-color: #fff;
	height: 170px;
	width: 150px;
	display: none;
	padding: 30px;
}

.top2:hover .vm {
	display: block
}

.logoTop a:hover {
	text-decoration: underline
}

.center ul li ul {
	font-family: 'Droid Serif', serif;
	display: none;
	margin-left: 17px;
	position: absolute;
	width: 313px;
	background: #10100f;
	border: 1px solid #323024;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-bottom: 3px;
	line-height: 18px;
}

.center ul li ul li {
	margin: 0 0 1px 4px;
	padding: 5px;
	width: 271px
}

.center ul li ul li a {
	display: block;
	width: 210px;
	font-size: 13px;
	color: #c4beab;
	float: left;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden
}

.center ul li ul li .tag {
	display: block;
	width: 50px;
	height: 22px;
	font-size: 10px;
	color: #c4beab;
	margin: 0 8px 0 0;
	line-height: 22px;
	white-space: nowrap;
	background: url(sel-sp-act.png) no-repeat;
	text-align: center;
	float: left
}

.center ul li ul li a span.link {
	display: block;
	width: 209px;
	height: 22px;
	overflow: hidden;
	float: left
}

.center ul li ul li:hover {
	background: url(sel-act.png) no-repeat
}

.center ul li ul li:hover a {
	color: #f8bc06
}

.center ul li ul li:hover .tag {
	color: #f8bc06
}

.center ul li ul li:first-child {
	margin-top: 3px
}

li.device-resolution {
	text-transform: uppercase;
	font-size: 12px;
	color: #ada58b;
	font-family: 'Cambria';
	line-height: 54px
}

li.purchase {
	float: right !important;
	margin-top: 11px
}

li.purchase a {
	padding: 0;
	background: url(trolley2.png) no-repeat 0 0;
	width: 133px;
	height: 36px;
	display: block;
	transition: all .3s ease-out 0s
}

li.purchase a:hover {
	background-position: 0 -36px
}

li.remove_frame {
	margin-left: 17px;
	float: right !important;
	margin-right: 30px
}

li.remove_frame a {
	background: url(img/cross2.png) no-repeat 0 0;
	width: 20px;
	height: 21px;
	display: block;
	margin-top: 18px;
	transition: all .3s ease-out 0s
}

li.remove_frame a:hover {
	background-position: 0 -21px
}

#iframe {
	margin-top: 0
}

.icon-monitor, .icon-tablet, .icon-mobile-1, .icon-mobile-2,
	.icon-mobile-3 {
	margin-right: 7px;
	margin-top: 20px;
	width: 17px;
	height: 16px
}

.icon-monitor {
	margin-left: 10px;
	background-image: url(img/mon-spr.png);
	background-position: 0 0;
	background-repeat: no-repeat
}

.icon-tablet {
	background: url(img/mon-spr.png) no-repeat -24px 0
}

.icon-mobile-1 {
	background: url(img/mon-spr.png) no-repeat -49px 0
}

.icon-monitor:hover, .icon-monitor.active {
	background-position: 0 -16px
}

.icon-tablet:hover, .icon-tablet.active {
	background-position: -24px -16px
}

.icon-mobile-1:hover, .icon-mobile-1.active {
	background-position: -49px -16px
}

.icon-mobile-2 {
	background: url(img/mon-spr.png) no-repeat -71px 0
}

.icon-mobile-3 {
	background: url(img/mon-spr.png) no-repeat -94px 0
}

.icon-mobile-2:hover, .icon-mobile-2.active {
	background-position: -71px -16px
}

.icon-mobile-3:hover, .icon-mobile-3.active {
	background-position: -94px -16px
}

#iframe-wrap {
	height: 100%;
	overflow: visible;
	position: relative;
	top: 54px;
	z-index: 50
}

.tablet-width {
	height: 960px !important;
	margin: 0 auto;
	padding: 96px 100px 115px 49px;
	width: 785px;
	margin-top: 40px;
	background: url(img/bgipad.png) no-repeat 0 0;
	transition: all 0.5s ease 0s;
}

.tablet-width iframe {
	height: 960px !important
}

.mobile-width {
	height: 703px !important;
	margin: 0 auto;
	padding: 41px 115px 100px 75px;
	width: 1041px;
	margin-top: 40px;
	background: url(img/bgipadw.png) no-repeat;
	transition: all 0.5s ease 0s;
}

.mobile-width iframe {
	height: 704px !important
}

.mobile-width-2 {
	height: 540px !important;
	margin: 0 auto;
	padding: 102px 25px 159px 23px;
	width: 337px;
	margin-top: 40px;
	background: url(img/bgiphone.png) no-repeat;
	transition: all 0.5s ease 0s;
}

.mobile-width-2 iframe {
	height: 585px !important
}

.mobile-width-3 {
	height: 273px !important;
	margin: 0 auto;
	padding: 43px 115px 69px 82px;
	width: 605px;
	margin-top: 40px;
	background: url(img/bgiphonew.png) no-repeat;
	transition: all 0.5s ease 0s;
}

.mobile-width-3 iframe {
	height: 317px !important
}

.by {
	overflow-y: hidden
}

.fdad {
	width: 336px;
	background-color: #FFF;
	position: fixed;
	top: 84px;
	right: 25px;
	opacity: .9;
	z-index: 888;
}

.fdl {
	float: left;
	font-family: Arial;
	font-size: 12px;
	padding-left: 5px;
	color: #ccc;
	line-height: 20px
}

.fdr {
	float: right;
	font-family: Arial;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ccc;
	cursor: pointer
}

.fdadnr {
	
}

.shoppingcart-list {
	
}

.product-item {
	width: 100%;
	height: 100%;
}

.sale-product ul {
	margin: 10px 20px 10px 20px;
	position: relative;
	transition-duration: 0s;
}

.sale-product ul li {
	position: relative;
	float: left;
	width: 23%;
	height: 450px;
/* 	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff; */
	background: transparent;
	list-style: none;
	margin: 10px;
}

.sale-product .product-title {
	font-size: 20px;
	font-family: 微软雅黑;
	margin-left: 20px;
	margin-top: 20px;
	text-decoration: none;
	color: #000;
}

.sale-product .product-title:hover {
	font-size: 20px;
	font-family: 微软雅黑;
	margin-left: 20px;
	margin-top: 20px;
	text-decoration: none;
	color: #000;
}

.sale-product-detail .product-img-wrapper img, .product-item-grid-img img {
	max-width: 327px;
    max-height: 400px;
}

.product-item-grid-price {
	float: left;
	margin-left: 10px;
	font-size: 16px;
	color: #666;
}

.prduct-item-grid-add {
	float: right;
	margin-right: 50px;
	font-size: 16px;
	margin-top: 10px;
	color: #e28f51;
}

.prduct-item-grid-add:hover {
	text-decoration: underline;
	cursor: pointer;
}

.sale-product-detail .product-img-wrapper {
	float: left;
	width: 30%;
	padding: 0 68px 0 68px;
}

.sale-product-detail .product-content-wrapper {
	float: right;
	width: 70%;
}

.sale-product-detail {
	color: #fff;
	font-family: "微软雅黑";
}

.sale-product-detail  .product-item {
	width: 100%;
	height: 100%;
}

.sale-product-detail  .product-title {
	padding: 20px 0px 20px 0px;
}

.sale-product-detail  .product-title span {
	margin-right: 30px;
	font-size: 20px;
}

.sale-product-detail  .product-title span:last-child {
	font-size: 25px;
}

.sale-product .product-title,.sale-product .product-item-grid-info .product-item-footer .product-item-grid-price{
	color:#fff;
}

.sale-product-detail  .product-title, .sale-product-detail  .product-option,
	.sale-product-detail  .product-description {
	margin: 20px 0 20px 0;
}

.sale-product-detail .product-description span {
	margin-bottom: 50px;
}

.sale-product-detail .product-description  .image-wrapper img {
	max-width: 1000px;
}

.mask {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
	top: -45px;
	padding-bottom: 45px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.common-mask {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
	top: -45px;
	padding-bottom: 45px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.common-mask .common-loader{
    background: url(../images/loader.gif) center center no-repeat;
    height: 15px;
    width: 15px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -25px 0 0 -25px;
}

.netwwork-mask {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
	top: -45px;
	padding-bottom: 45px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.network-mask .loader{
    background: url(../images/loader.gif) center center no-repeat;
    height: 15px;
    width: 15px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -25px 0 0 -25px;
}
.description-img-array img{
	width:800px;
}
.description-img-array{
    margin-top: 85px;
}
@media screen and (min-width: 960px) {
	body,#wrap,#row,#content,.pageheader,.main,.row{
		min-width:1080px; 
	 }
	body .navbar .navbar-nav.side-nav>li.collapsed-content {
		display: none;
	}
}
@media screen and (max-width: 960px) {
	body,#wrap,#row,#content,.pageheader,.main,.row{
    	max-width: 900px; 
	 }
	body .navbar .navbar-nav.side-nav>li.collapsed-content {
		display:none;
	}
}

/* @media screen and (max-width: 800px) {
    #content, .pageheader, .main, .cards{
    max-width: 700px; 
   }}
 */
/* @media screen and (min-width: 1200px) {
    #content, .pageheader, .main, .row {
    min-width: 1500px; 
   }} */

@media screen and (max-width: 460px) {
    .bx-viewport{
     width: auto; 
     overflow: auto; 
     position: relative; 
   }
	.sale-product ul li{
	position: relative;
     float: none;
    width:auto; 
	}
	.sale-product ul{
		margin:0px;
		padding:0px;
	}
}
   
   
@media screen and (min-width: 460px) {
    .bx-viewport{
     width: 1500px; 
     overflow: hidden; 
     position: relative; 
   }
}