{extend name="base/backend"} {block name="js"}
<script type="text/javascript" src="_JS_/common/admin/personperday.js"></script>
{/block} {block name="css"} {/block} {block name="content"}
<!-- Page content -->
<div id="content" class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 日奖金明细<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/public/index.php/backend/common/index">HERMES</a></li>
				<li class="active">日奖金明细</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<div class="row">
			<div class="col-md-10">
				<section class="tile color transparent-white">

					<!-- tile widget -->
					<div class="title-body" >
						<div class="form-group">
							<label for="input01" class="col-sm-2 control-label">用户ID</label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									id="userid" value="{$userid}">
							</div>
						</div>
						
						<div class="form-group">
							<label for="input01" class="col-sm-2 control-label">时间</label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									id="income_expense_start" value="{$begintime}">
							</div>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									id="income_expense_end" value="{$endtime}">
							</div>
						</div>
					</div>
					
						

					<div class="tile-widget">
						<button type="button" class="btn btn-primary"
							id="btn_bonus">搜索</button>
					</div>
					<!-- tile widget -->

					<div class="tile-widget bg-transparent-white-2">
						<!-- tile header -->
						<div class="tile-header">
							<h1>
								<strong>奖金明细</strong>
							</h1>
							<div class="controls">
								<a href="#" class="refresh"><i class="fa fa-refresh"></i></a> <a
									href="#" class="remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<!-- /tile header -->

						<!-- tile body -->
						<div class="tile-body no-vpadding">

							<table class="table table-custom" id="income_expense_table">
								<thead>
									<tr>
										<th class="sort-asc">序号</th>
										<th class="sort-asc">会员ID</th>
										<th class="sort-numeric">会员姓名</th>
										<th class="sort-amount">直推奖</th>
										<th class="sort-amount">平衡奖</th>
										<th class="sort-amount">辅导奖</th>
										<th class="sort-amount">感恩奖</th>
										<th class="sort-amount">静态奖</th>
										<th class="sort-amount">合计</th>
										<th class="sort-amount">实发</th>
										<th class="sort-amount">收入</th>
										<th class="sort-amount">日期</th>
									</tr>
								</thead>
								<tbody>
									{if condition="empty($pass_data) neq true"} {foreach
									name='pass_data' item='vo'}
									<tr>
										<td>
												<input
													style="width: 15px;height: 15px;"
													type="checkbox"
													name="row-check" 
													v-id="{$vo.ID}"
													/>
										</td>
										<td>{$vo.ID}</td>
										<td>{$vo.username}</td>
										<td>{$vo.direct}</td>
										<td>{$vo.balance}</td>
										<td>{$vo.tutor}</td>
										<td>{$vo.appreciation}</td>
										<td>{$vo.staticbonus}</td>
										<td>{$vo.sum}</td>
										<td>{$vo.actualsalary}</td>
										<td>{$vo.income}</td>
										<td>{$vo.date}</td>
									</tr>
									{/foreach} {/if}

								</tbody>
							</table>

						</div>
						<!-- /tile body -->
						<div>
							{$page}
						</div>


						<!-- tile footer -->
						<div class="tile-footer bg-transparent-white-2 rounded-bottom-corners">
							<div class="row">

								<!-- <div class="col-sm-4">
                        <small class="inline table-options paging-info">showing 1-3 of 24 items</small>
                      </div>

                      <div class="col-sm-4 text-center sm-center">
                        <ul class="pagination pagination-xs nomargin pagination-custom">
                          <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                          <li class="active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                      </div> -->

							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- /content container -->

</div>
<!-- Page content end -->


<script>
	$(function() {

		// Initialize card flip
		$('.card.hover').hover(function() {
			$(this).addClass('flip');
		}, function() {
			$(this).removeClass('flip');
		});

		// Initialize flot chart
		var d1 = [ [ 1, 1.0 ], [ 2, 1.1 ], [ 3, 1.3 ], [ 4, 2.0 ], [ 5, 1.2 ],
				[ 6, 1.4 ], [ 7, 1.5 ] ];

		var days = [ "03.02", "03.03", "03.04", "03.05", "03.06", "03.07",
				"03.08" ];

		// 股价趋势
		var plot = $.plotAnimator($("#statistics-chart"), [ {
			label : 'Sales',
			data : d1,
			lines : {
				lineWidth : 3
			},
			shadowSize : 0,
			color : '#ffffff'
		}, {
			label : 'Sales',
			data : d1,
			points : {
				show : true,
				fill : true,
				radius : 6,
				fillColor : "rgba(0,0,0,.5)",
				lineWidth : 2
			},
			color : '#fff',
			shadowSize : 0
		} ], {

			xaxis : {

				tickLength : 0,
				tickDecimals : 0,
				min : 1,
				ticks : [ [ 1, "03.02" ], [ 2, "03.03" ], [ 3, "03.04" ],
						[ 4, "03.05" ], [ 5, "03.06" ], [ 6, "03.07" ],
						[ 7, "03.08" ] ],

				font : {
					lineHeight : 24,
					weight : "300",
					color : "#ffffff",
					size : 14
				}
			},

			yaxis : {
				ticks : 4,
				tickDecimals : 0,
				tickColor : "rgba(255,255,255,.3)",

				font : {
					lineHeight : 13,
					weight : "300",
					color : "#ffffff"
				}
			},

			grid : {
				borderWidth : {
					top : 0,
					right : 0,
					bottom : 1,
					left : 1
				},
				borderColor : 'rgba(255,255,255,.3)',
				margin : 0,
				minBorderMargin : 0,
				labelMargin : 20,
				hoverable : true,
				clickable : true,
				mouseActiveRadius : 6
			},

			legend : {
				show : false
			}
		});

		$(window).resize(function() {
			// redraw the graph in the correctly sized div
			plot.resize();
			plot.setupGrid();
			plot.draw();
		});

		$('#mmenu').on("opened.mm", function() {
			// redraw the graph in the correctly sized div
			plot.resize();
			plot.setupGrid();
			plot.draw();
		});

		$('#mmenu').on("closed.mm", function() {
			// redraw the graph in the correctly sized div
			plot.resize();
			plot.setupGrid();
			plot.draw();
		});

		// tooltips showing
		$("#statistics-chart").bind(
				"plothover",
				function(event, pos, item) {
					if (item) {
						var x = item.datapoint[0], y = item.datapoint[1];

						$("#tooltip")
								.html(
										'<h1 style="color: #418bca">'
												+ days[x - 1] + '</h1>'
												+ '<strong>' + y + '</strong>'
												+ ' ' + item.series.label).css(
										{
											top : item.pageY - 30,
											left : item.pageX + 5
										}).fadeIn(200);
					} else {
						$("#tooltip").hide();
					}
				});

		//tooltips options
		$("<div id='tooltip'></div>").css({
			position : "absolute",
			//display: "none",
			padding : "10px 20px",
			"background-color" : "#ffffff",
			"z-index" : "99999"
		}).appendTo("body");

		//generate actual pie charts
		$('.pie-chart').easyPieChart();

		//server load rickshaw chart
		var graph;

		var seriesData = [ [], [] ];
		var random = new Rickshaw.Fixtures.RandomData(50);

		for (var i = 0; i < 50; i++) {
			random.addData(seriesData);
		}

		graph = new Rickshaw.Graph({
			element : document.querySelector("#serverload-chart"),
			height : 150,
			renderer : 'area',
			series : [ {
				data : seriesData[0],
				color : '#6e6e6e',
				name : 'File Server'
			}, {
				data : seriesData[1],
				color : '#fff',
				name : 'Mail Server'
			} ]
		});

		var hoverDetail = new Rickshaw.Graph.HoverDetail({
			graph : graph,
		});

		setInterval(function() {
			random.removeData(seriesData);
			random.addData(seriesData);
			graph.update();

		}, 1000);

		// Morris donut chart
		Morris.Donut({
			element : 'browser-usage',
			data : [ {
				label : "Chrome",
				value : 25
			}, {
				label : "Safari",
				value : 20
			}, {
				label : "Firefox",
				value : 15
			}, {
				label : "Opera",
				value : 5
			}, {
				label : "Internet Explorer",
				value : 10
			}, {
				label : "Other",
				value : 25
			} ],
			colors : [ '#00a3d8', '#2fbbe8', '#72cae7', '#d9544f', '#ffc100',
					'#1693A5' ]
		});

		$('#browser-usage').find("path[stroke='#ffffff']").attr('stroke',
				'rgba(0,0,0,0)');

		//sparkline charts
		$('#projectbar1').sparkline('html', {
			type : 'bar',
			barColor : '#22beef',
			barWidth : 4,
			height : 20
		});
		$('#projectbar2').sparkline('html', {
			type : 'bar',
			barColor : '#cd97eb',
			barWidth : 4,
			height : 20
		});
		$('#projectbar3').sparkline('html', {
			type : 'bar',
			barColor : '#a2d200',
			barWidth : 4,
			height : 20
		});
		$('#projectbar4').sparkline('html', {
			type : 'bar',
			barColor : '#ffc100',
			barWidth : 4,
			height : 20
		});
		$('#projectbar5').sparkline('html', {
			type : 'bar',
			barColor : '#ff4a43',
			barWidth : 4,
			height : 20
		});
		$('#projectbar6').sparkline('html', {
			type : 'bar',
			barColor : '#a2d200',
			barWidth : 4,
			height : 20
		});

		// sortable table
		$('.table.table-sortable th.sortable').click(function() {
			var o = $(this).hasClass('sort-asc') ? 'sort-desc' : 'sort-asc';
			$('th.sortable').removeClass('sort-asc').removeClass('sort-desc');
			$(this).addClass(o);
		});

		//todo's
		$('#todolist li label').click(function() {
			$(this).toggleClass('done');
		});

		// Initialize tabDrop
		$('.tabdrop').tabdrop({
			text : '<i class="fa fa-th-list"></i>'
		});

		//load wysiwyg editor
		$('#quick-message-content').summernote(
				{
					toolbar : [
					//['style', ['style']], // no style button
					[ 'style', [ 'bold', 'italic', 'underline', 'clear' ] ],
							[ 'fontsize', [ 'fontsize' ] ],
							[ 'color', [ 'color' ] ],
							[ 'para', [ 'ul', 'ol', 'paragraph' ] ],
							[ 'height', [ 'height' ] ],
					//['insert', ['picture', 'link']], // no insert buttons
					//['table', ['table']], // no table button
					//['help', ['help']] //no help button
					],
					height : 143
				//set editable area's height
				});

		//multiselect input
		$(".chosen-select").chosen({
			disable_search_threshold : 10
		});

	})
</script>
{/block}

