 {extend name="base/backend"} {block name="js"}
<script type="text/javascript" src="_JS_/common/admin/pointtransform.js"></script>
{/block} {block name="css"} {/block} {block name="content"}
<!-- Page content -->
<div id="content" class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 积分互转<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/public/index.php/backend/common/index">HERMES</a></li>
				<li class="active">积分互转</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<div class="row">
			<div class="col-md-11">
				<section class="tile color transparent-white">

					<div class="title-body" style="height: 35px;">
						<div class="form-group">
							<label class="col-sm-2 control-label">会员ID</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="search-userid" value="{$userId}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">积分转换时间</label>
							<div class="col-sm-2">
								<input class="form-control"
									id="point_transform_start" value="{$fromTime}">
							</div>
							<div class="col-sm-2">
								<input class="form-control"
									id="point_transform_end" value="{$toTime}">
							</div>
						</div>
					</div>

					<div class="tile-widget">
						<button type="button" class="btn btn-primary"
							id="btn_point_transform">搜索</button>
					</div>

					<div class="tile-widget bg-transparent-white-2">
						<!-- tile header -->
						<div class="tile-header">
							<h1>
								<strong>积分互转</strong>
							</h1>
							<div class="controls">
								<a href="#" class="refresh"><i class="fa fa-refresh"></i></a> <a
									href="#" class="remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<!-- /tile header -->

						<!-- tile body -->
						<div class="tile-body no-vpadding">

							<table class="table table-custom" id="point_transform_list">
								<thead>
									<tr>
										<th class="sort-asc">序号</th>
										<th class="sort-asc">会员ID</th>
										<th class="sort-numeric">积分转换类型</th>
  										<th class="sort-amount">转换前的剩余金额</th>
										<th class="sort-amount">转换金额</th>
										<th class="sort-amount">积分转换时间</th>
									</tr>
								</thead>
								<tbody>
								{if condition="empty($pass_data) neq true"} {foreach
								name='pass_data' item='vo'}
								<tr>
									<td>{$vo.POINT_ID}</td>
									<td>{$vo.user_id}</td>
									<td>
										{if $vo.point_change_type eq 1}
											奖励分转注册分
										{elseif $vo.point_change_type eq 2}
											万能分转注册分
										{else}
											其他
										{/if}
									</td>
									<td>{$vo.point_before}</td>
									<td>{$vo.point_change_sum}</td>
									<td>{$vo.point_change_time}</td>
									<td>
									</td>
								</tr>
								{/foreach} {/if}
								</tbody>
							</table>

						</div>
						<!-- /tile body -->


						<!-- tile footer -->
						<div>
							{$page}
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- /content container -->

</div>
<!-- Page content end -->

{/block}
