<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
                                      忘记密码------->输入注册邮箱-------->提交申请--------->审核通过-------->修改成功
            <form action="UserLogin" method="post">
              <section>
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="注册邮箱">
                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                </div>
              </section>
              <section class="log-in">
                <button class="btn btn-greensea">提交</button>
              </section>
            </form>
</body>
</html>