<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>查看所有用户基本信息</title>
</head>
<body>
<table>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>密码</th>
            <th>二级密码</th>
            <th>用户级别</th>
        </tr>
        {volist name="pass_data" id="data"}
        <tr>
            <td>{$data->getData("ID")}</td>
            <td>{$data->getData("username")}</td>
            <td>{$data->getData("password")}</td>
            <td>{$data->getData("minor_pwd")}</td>
            <td>{eq name='data->getData("user_status")' value="1"}管理员{else /}普通用户{/eq}</td>
        </tr>
        {/volist}
    </table>
    
</body>
</html>