<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="UserLogin" method="post">
                <tr>
					<td align="right">用户名：</td>
					<td><input type="text" name="username" value="请输入用户名" maxLength="6"/></td>
				</tr>
				<br/>
				<tr>
					<td align="right">密 码：</td>
					<td><input type="password" name="password" maxLength="6"/></td>
				</tr>
				<br>
                <button type="submit">登录</button>
            </form>
            <form action="RegistIndex" method="post">
                <button type="submit">注册</button>
            </form>
        </div>
    </div>
</body>

</html>