<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="insert" method="post">
                <label>用户名:</label>
                <input type="text" name="username" />
                <label>密码:</label>
                <input type="text" name="password" />
                <label>邮箱:</label>
                <input type="text" name="minor_pwd" />
                <button type="submit">保存</button>
            </form>
        </div>
    </div>
</body>

</html>