{extend name="base/frontend"} {block name="js"}
<script type="text/javascript" src="_JS_/common/introduce/bootstrap-treeview.js"></script>
<script type="text/javascript" src="_JS_/common/introduce/introduce.js"></script>
{/block} {block name="css"}
{/block} {block name="content"}
<!-- Page content -->
<div id="content" class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 推荐结构<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/public/index.php/frontend/common/index">HERMES</a></li>
				<li class="active">推荐结构</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<div class="row">
			<div class="col-md-10">
				<section class="tile color transparent-white news-content">

					<div class="tile-widget bg-transparent-white-2">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="input01" class="col-sm-2 control-label">会员ID</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="searchUserId" value="{$Think.session.session_user['userId']}">
								</div>
							</div>
							<button type="button" class="btn btn-primary" id="network-search">搜索</button>
						</form>
					</div>

					<!-- tile body -->
					<div class="tile-body">
						<div id="introduce-tree"></div>
					</div>
					<!-- /tile body -->
				</section>
			</div>
		</div>
	</div>
	<!-- /content container -->

</div>
{/block}
