{extend name="base/frontend"} {block name="js"}
<script type="text/javascript" src="_JS_/common/network/html2canvas.min.js"></script>
<script type="text/javascript" src="_JS_/common/network/jquery.orgchart.min.js"></script>
<script type="text/javascript" src="_JS_/common/network/network.js"></script>
{/block} {block name="css"}
<link rel="stylesheet" href="_CSS_/orgchart/font-awesome.min.css">
<link rel="stylesheet" href="_CSS_/orgchart/jquery.orgchart.min.css">
{/block} {block name="content"}
<!-- Page content -->
<div id="content" class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 网络结构<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="index.html">HERMS</a></li>
				<li class="active">网络结构</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<div class="row">
			<div class="col-md-10">
				<section class="tile color transparent-white news-content">

					<div class="tile-widget bg-transparent-white-2">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="input01" class="col-sm-2 control-label">会员ID</label>
								<div class="col-sm-2">
									<input type="hidden" value="{$Think.session.session_user['userId']}" id="current_user_id"/>
									<input type="text" class="form-control" id="searchUserId" value="">
								</div>
							</div>
							<div class="form-group form-footer">
								<div class="col-sm-10 text-center">
									<button type="button" class="btn btn-primary" id="network-search">搜索</button>
								</div>
							</div>
						</form>
					</div>

					<!-- tile body -->
					<div class="tile-body">
						<div id="chart-container"></div>
						<div id="edit-panel" class="view-state">
							<label for="rd-parent">节点人</label><input type="text" name="node-type" id="rd-node-user" /> 
							<button type="button" id="btn-add-user">帮助创建用户</button>
						</div>
					</div>
					<!-- /tile body -->
				</section>
			</div>
		</div>
	</div>
	<!-- /content container -->

</div>
{/block}
