{extend name="base/frontend"} {block name="js"}
<script
	type="text/javascript"
	src="_JS_/common/store/index.js"></script>
{/block} {block name="css"} {/block} {block name="content"}
<!-- Page content -->
<div
	id="content"
	class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 一亩阳光商城
			<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="index.html">HERMES</a></li>
				<li class="active">商品详情</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<!-- cards -->
		<div class="row margin-bottom-40">
			<!-- BEGIN SALE PRODUCT -->
			<div class="col-md-12 sale-product-detail">
				<div class="product-item">
					<div class="product-img-wrapper">
						<img
							src="_IMG_/resources{$pass_data[0]['image_url']}" />
					</div>
					<div class="product-content-wrapper">
						<div class="product-title">
							<span>{$pass_data[0]['category_name']}</span>
							<span>{$pass_data[0]['name']}</span>
						</div>
						<div class="product-price">
							<label style="text-decoration: line-through;">{$pass_data[0]['price']}</label>&nbsp;&nbsp;<label>{$pass_data[0]['cur_price']}积分</label>
						</div>
						<div class="product-option">
							{if condition="$pass_data[0]['lifecycle'] == 1"}
							<a
								product_id="{$pass_data[0]['id']}"
								href="#"
								class="btn btn-default add_shoppingcart">加入购物车</a>
							{/if} {if condition="$pass_data[0]['lifecycle'] == 3"} 已下架
							</a>
							{/if} {if condition="$pass_data[0]['lifecycle'] == 0"} 未上架
							</a>
							{/if}
						</div>
						<div class="product-description">
							<span>{$pass_data[0]['description']}</span>
							<div class="image-wrapper">
								<img src="_IMG_/resources{$pass_data[0]['description_url']}"/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- END SALE PRODUCT -->

		</div>

	</div>
	<!-- /content container -->

</div>
<!-- Page content end -->
{/block}
