{extend name="base/frontend"} {block name="js"}
<script
	type="text/javascript"
	src="_JS_/common/store/index.js"></script>
{/block} {block name="css"} {/block} {block name="content"}
<!-- Page content -->
<div
	id="content"
	class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 一亩阳光商城
			<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="index.html">HERMES</a></li>
				<li class="active">一亩阳光商城</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<!-- cards -->
		<div class="row margin-bottom-40">
			<!--  -->
			<div
				class="input-group input-group-sm margin-bottom-20 margion-left-20">
				<div class="input-group-btn">
					<button
						type="button"
						class="btn btn-default"
						tabindex="-1">全部</button>
					<button
						type="button"
						class="btn btn-default dropdown-toggle"
						data-toggle="dropdown"
						tabindex="-1">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul
						class="dropdown-menu"
						role="menu">
						{if condition="empty($category_info) neq true"} {foreach
						name='category_info' item='vo'}
						<li><a href="index?cc={$vo.category}">{$vo.category_name}</a></li>
						{/foreach} {/if}
					</ul>
				</div>

			</div>


			<!-- BEGIN SALE PRODUCT -->
			<div class="col-md-12 sale-product">
				<div class="bxslider-wrapper">
					<div class="bx-wrapper">
						<div
							class="bx-viewport"
							style="width: 100%; overflow: hidden; position: relative;">
							<ul
								class="bxslider"
								data-slides-phone="1"
								data-slides-tablet="2"
								data-slides-desktop="5"
								data-slide-margin="15"
								style="">
								{if condition="empty($pass_data) neq true"} {foreach
								name='pass_data' item='vo'}
								<li
									style=""
									class="bx-clone">
									
										<div class="product-title">{$vo.name}</div>
										<a
										href="detail?productId={$vo.id}"
										class="product-item-grid"
										target="_blank">
										<div class="product-item-grid-img">
											<img
												src="_IMG_/resources{$vo.image_url}"
												alt="" />
										</div>
										</a>
										<div class="product-item-grid-info">
											<!-- <h2>{$vo.name}</h2> -->
											<div class="product-product-description"></div>

											<div class="product-item-footer">
												<div class="product-item-grid-price">
													<p>
														<del></del>
													</p>
													<p>{$vo.price}积分</p>
												</div>
												<div class="prduct-item-grid-add add_shoppingcart" product_id="{$vo.id}">
													<span>加入购物车</span>
													<i class="svg-default-textlink"></i>
												</div>
											</div>
										</div>
									</li> {/foreach} {/if}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- END SALE PRODUCT -->
		</div>

	</div>
	<!-- /content container -->

</div>
<!-- Page content end -->
{/block}
