{extend name="base/frontend"} {block name="js"}
<script
	type="text/javascript"
	src="_JS_/common/store/orderlist.js"></script>
{/block} {block name="css"} {/block} {block name="content"}
<!-- Page content -->
<div
	id="content"
	class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 积分兑换商城-结算
			<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/public/index.php/frontend/common/index">HERMES</a></li>
				<li class="active">结算</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<div class="row">
			<div class="col-md-10">
				<section class="tile color transparent-white" style="position:absolute;">

					<!-- tile header -->
					<div class="tile-header">
						<h1>
							<strong>订单列表</strong>
						</h1>
						<div class="controls">
							<a
								href="#"
								class="refresh">
								<i class="fa fa-refresh"></i>
							</a>
							<a
								href="#"
								class="remove">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body no-vpadding">

						<table class="table table-custom">
							<thead>
								<tr>
									<th style="width: 40px;"></th>
									<th class="sort-asc">订单编码</th>
									<th class="sort-asc">收件人</th>
									<th class="sort-numeric">手机号</th>
									<th class="sort-amount">收件地址</th>
									<th class="sort-amount">下单时间</th>
									<th class="sort-amount">总金额</th>
									<th class="sort-amount">运费</th>
									<th class="sort-amount">运单号</th>
									<th class="sort-amount">状态</th>
								</tr>
							</thead>
							<tbody>
								{if condition="empty($pass_data) neq true"} {foreach
								name='pass_data' item='vo'}
								<tr>
									<td></td>
									<td>{$vo.code}</td>
									<td>{$vo.receiver}</td>
									<td>{$vo.mobile}</td>
									<td>{$vo.province}{$vo.city}{$vo.area}{$vo.address}</td>
									<td>{$vo.create_time}</td>
									<!-- changed by Gavin start model21 -->
									<td>{$vo.total+$vo.shipping_fee}</td>
									<!-- changed by Gavin end model21 -->
									<td>{$vo.shipping_fee}</td>
									<td>{$vo.express_code}</td>
									<td class="text-center">
										{if condition="$vo.lifecycle eq 1"} 待发货 {elseif
										condition="$vo.lifecycle eq 2"} 已发货
										<button
											type="button"
											order-id="{$vo.id}"
											class="btn btn-info confirm-receive"
											style="margin-left: 30px;">确认收货</button>
										{elseif condition="$vo.lifecycle eq 3"} 已收货 {else}
										未知：{$vo.status} {/if}
									</td>
								</tr>
								
								{if condition="empty($vo.orderLines) neq true"} 
								<tr class="title">
									<td></td>
									<td></td>
									<td>订单商品</td>
									<td>序号</td>
									<td>商品</td>
									<td>数量</td>
									<td>单价</td>
									<td>小计</td>
								</tr>
								
								
								{foreach name='$vo.orderLines' item='orderLine' key="k"}
								<tr class="shop_porlist ">
									<td class="borderside_L"></td>
									<td class="borderside_L"></td>
									<td class="borderside_L"></td>
									<td class="borderside_L">{$k+1}</td>
									<td>
										<div class="pro_info">
											<div class="pro_L float_L">
												<a href="#">
													<img
														style="width:30px;height:30px;"
														class="pro_pic "
														src="_IMG_/resources{$orderLine.image_url}">
												</a>
											</div>
											<div class="pro_R float_L">
												<a href="#">{$orderLine.name}</a>
											</div>
										</div>
									</td>
									<td>{$orderLine.product_num}</td>
									<td>{$orderLine.cur_price}</td>
									<td class="borderside_R">{$orderLine.total}</td>
								</tr>
								{/foreach}
								{/if}

								</tr>
								{/foreach} {/if}
							</tbody>
						</table>

					</div>
					<!-- /tile body -->

				</section>
			</div>
		</div>
	</div>
	<!-- /content container -->

</div>
<!-- Page content end -->
{/block}
