{extend name="base/frontend"} {block name="js"}
<script type="text/javascript" src="_JS_/common/store/shoppingcart.js"></script>
{/block} {block name="css"}
<link rel="stylesheet" href="_CSS_/shoppingcart/shoppingcart.css">
{/block} {block name="content"}
<!-- Page content -->
<div id="content" class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			<i class="fa fa-tachometer"></i> 购物车<span></span>
		</h2>
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="index.html">HERMS</a></li>
				<li class="active">主页</li>
			</ol>
		</div>
	</div>
	<!-- /page header -->

	<!-- content main container -->
	<div class="main">
		<div class="row">
			<div class="col-md-12">
				<section class="tile color transparent-black shoppingcart">
					<div class="container shoppingcart">
						{if condition="empty($shoppingcart_data) neq true"}
						<!-- Mainbar-Starts-Here -->
						<div class="main-bar">
							<div class="product">
								<h3>商品</h3>
							</div>
							<div class="quantity">
								<h3>数量</h3>
							</div>
							<div class="price">
								<h3>单价</h3>
							</div>
							<div class="clear"></div>
						</div>
						<!-- //Mainbar-Ends-Here -->

						<!-- Items-Starts-Here -->
						<div class="items">

							{foreach name='shoppingcart_data' item='vo'}
							<!-- Item1-Starts-Here -->
							<div class="item" product_id="{$vo.productId}"
								shoppingcart_id="{$vo.shoppingcartId}">
								<div class="close1">
									<!-- Remove-Item -->
									<div class="alert-close"></div>
									<!-- //Remove-Item -->
									<div class="image1">
										<img src="_IMG_/resources{$vo.image_url}" alt="{$vo.name}">
									</div>
									<div class="title1">
										<p>{$vo.name}</p>
									</div>
									<div class="quantity1">
										<form action="action_page.php">
											<input type="number" name="quantity" min="1"
												max="{$vo.invetory}" value="{$vo.product_num}">
										</form>
									</div>
									<div class="price1">
										<p>{$vo.cur_price}积分</p>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<!-- //Item1-Ends-Here -->
							{/foreach}

							<!-- Checkout-Starts-Here -->
							<div class="checkout">
								<div class="discount">
									<!-- <span>Apply Discount Code</span> <input type="text"> -->
								</div>
								<div class="add">
									<!-- <a href="#">Add to Cart</a> -->
								</div>
								<div class="checkout-btn">
									<a href="#">结算</a>
								</div>
								<div class="clear"></div>
							</div>
							<!-- //Checkout-Ends-Here -->
							{else} <label class="control-label">当前购物车为空</label> {/if}
						</div>
					</div>
					<!-- /content container -->
				</section>
			</div>
		</div>
	</div>


</div>
<!-- Page content end -->
{/block}
